.item {
    cursor: pointer;
    display: flex;
}

.item-description {
    word-wrap: break-word;
}

.active {
    background-color: #F0F0F0;
    border: 0;
}

.row {
    width: 100%;
}

h4 {
    padding-left: 0;
}