<div class="row">
    <div class="col-xs-12">
        <img src="{{ item.picture }}" alt="{{ item.name }}" class="image-resonsive" style="max-height: 300px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ item.name }}</h1>
        <p>{{ item.description }}</p>
        <ul>
            <li *ngFor="let note of item.notes">
                <small>{{ note }}</small>
            </li>
        </ul>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary">Left</button>
            <button type="button" class="btn btn-primary">Middle</button>
            <button type="button" class="btn btn-primary">Right</button>
          </div>
    </div>
</div>