@if (item && item._id) {
<div class="row">
    <div class="col-sm">
        <img src="{{ item.picture }}" alt="{{ item.name }}" class="image-resonsive">
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm">
        <h1>{{ item.name }}</h1>
        <p>{{ item.description }}</p>
        <p><i>Prezzo: {{ item.price }} €</i></p>
        <ul>
            @for (note of item.notes; track note) {
            <li>
                <small>{{ note }}</small>
            </li>
            }
        </ul>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-primary fit-content me-2" title="Aggiungi al carrello" (click)="onAddItemToCart()">
            <i class="bi bi-cart4"></i>
        </button>
        <button type="button" class="btn btn-primary fit-content me-2" title="Modifica elemento" (click)="onEditItem()">
            <i class="bi bi-pencil-fill"></i>
        </button>
        <button type="button" class="btn btn-danger fit-content" title="Elimina dalla lista" (click)="open(deleteModal)">
            <i class="bi bi-trash-fill"></i>
        </button>
    </div>
</div>
<ng-template #deleteModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Vuoi eliminare {{ item.name }}?</h4>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Elimina')">Sì</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Annulla')">No</button>
    </div>
</ng-template>
}
@else {
<h3>Please select an item!</h3>
}