<div class="row d-flex justify-content-center">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="w-50 border border-1 rounded p-3 bg-light">
        <h2>Login</h2>
        <br>
        <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" formControlName="username" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && credentials.username.errors }" />
            <div *ngIf="submitted && credentials.username.errors" class="invalid-feedback">
                <div *ngIf="credentials.username.errors.required">Campo obbligatorio</div>
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && credentials.password.errors }" />
            <div *ngIf="submitted && credentials.password.errors" class="invalid-feedback">class="border border-secondary"
                <div *ngIf="credentials.password.errors.required">Campo obbligatorio</div>
            </div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Login
            </button>
        </div>
    </form>
</div>