<div class="row d-flex justify-content-center">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="w-50 border border-1 rounded p-3 bg-light">
        <h2>Login</h2>
        <br>
        @if (error) {
        <div class="alert alert-danger">{{ error }}</div>
        }
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" formControlName="username" class="form-control" />
            @if (submitted && credentials['username'].errors) {
            <div class="invalid-feedback">
                @if (credentials['username'].errors['required']) {
                <div>Campo obbligatorio</div>
                }
            </div>
            }
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" formControlName="password" class="form-control" />
            @if (submitted && credentials['password'].errors) {
            <div class="invalid-feedback">class="border border-secondary"
                @if (credentials['password'].errors['required']) {
                <div>Campo obbligatorio</div>
                }
            </div>
            }
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
                @if (loading) {
                <span class="spinner-border spinner-border-sm me-2"></span>
                }
                Login
            </button>
        </div>
    </form>
</div>