nav {
    background-color: #F0F0F0;
}

.navbar-brand {
    font-size: 2em;
    font-weight: 200;
}

.navbar-img {
    max-height: 1.3em;
    padding-bottom: 8px;
}

.nav-item:first-child {
    border-left: solid 1px lightgray;
}

.active-link {
    background-color: #d7d7d7;
}

.larger-size {
    font-size: larger;
}