<div class="container">
    <h1>Carrello</h1>
    <div class="row mt-5">
        <div class="col-sm-12">
            @if (cart._id === '' || cart.list.length === 0) {
            <h5>Il tuo carrello è vuoto</h5>
            }
            @else {
            <table class="table">
                <thead>
                    <tr>
                        <td>Pietanza</td>
                        <td>Prezzo unitario</td>
                        <td>Quantità</td>
                        <td>Totale</td>
                    </tr>
                </thead>
                <tbody>
                    @for (cartItem of cart.list; track cartItem) {
                    <tr>
                        <td>{{ cartItem['item']['name'] }}</td>
                        <td>{{ cartItem['item']['price'] }} €</td>
                        <td>
                            <button type="button" class="btn btn-link"
                                (click)="changeQuantity(cart, cartItem, 'increase')">
                                <i class="bi bi-plus-lg"></i>
                            </button>
                            {{ cartItem['quantity'] }}
                            <button type="button" class="btn btn-link"
                                (click)="changeQuantity(cart, cartItem, 'decrease')">
                                <i class="bi bi-dash-lg"></i>
                            </button>
                        </td>
                        <td> {{getSubtotal(cartItem['item']['price'], cartItem['quantity'])}} €</td>
                    </tr>
                    }
                    <tr>
                        <td><strong>Totale</strong></td>
                        <td></td>
                        <td></td>
                        <td> {{getTotal()}} €</td>
                    </tr>
                </tbody>
            </table>
            <div class="col-sm d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-danger fit-content me-2"
                    (click)="openDeleteOrderModal(deleteModal)">Elimina ordine</button>
                <button type="button" class="btn btn-success fit-content"
                    (click)="openOrderModal(orderModal)">Ordina</button>
            </div>
            }
        </div>
    </div>
</div>

<ng-template #deleteModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Vuoi eliminare il tuo ordine?</h4>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Elimina')">Sì</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Annulla')">No</button>
    </div>
</ng-template>

<ng-template #orderModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Grazie per il tuo ordine</h4>
    </div>
    <div class="modal-body">
        <h5>Riepilogo:</h5>
        @for (cartItem of cart.list; track cartItem) {
        <ul>
            <li>{{cartItem['item']['name']}} ({{cartItem['quantity']}})</li>
        </ul>
        }
        <h5>Prezzo totale: {{getTotal()}} €</h5>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Ordina')">Ordina</button>
    </div>
</ng-template>